<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="icon" type="image/x-icon" href="images/title.jpg">
    <meta name="description" content="Welcome" />
    <meta name="revised" content="07/10/2023" />
    <meta name="author" content="Arpit Khandelwal" />
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <script type="text/javascript" src="javascript/index.js"></script>
    <noscript>
        JavaScript is disabled. Please enabled it.
    </noscript>
</head>

<body onload="login();">

</body>


</html>