<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        h1 {
            color: #0056b3;
        }

        ul {
            list-style-type: disc;
            margin-left: 20px;
        }

        li {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <h1>{{ heading }} - Updated!</h1>
    <p>This content is rendered from a Flask template.</p>

    <h2>Some Items:</h2>
    <ul>
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('about') }}">About Page</a>

    <h2>Last 10 visits</h2>
    {% for time in times %}
    <p>{{ time['timestamp'] }}</p>
    {% endfor %}

    <p>Current year: {{ 2025 }}</p>
    <p>Greetings from 254 Alok Nagar Indore, India! 👋</p>

</body>

</html>