<html>

<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="icon" type="image/x-icon" href="images/title.jpg">
  <meta name="description" content="Welcome" />
  <meta name="revised" content="12/15/2022" />
  <meta name="author" content="Arpit Khandelwal" />
  <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
</head>

<frameset cols="6%,28%,66%">
  <frame name="menu" src="html/menu.html" frameborder="0">
    <frame name="static" src="html/static.html" frameborder="0">
      <frame name="main" src="html/home.html" frameborder="0">
</frameset>

</html>